<div class="media mb-3">
  <img class="d-flex align-self-start mr-3"
       src="<%= @activity.avatar_url %>"
       width="32"
       height="32"
       alt="<%= @activity.user_name %>">
  <div class="media-body">
    <p class="lead">
      <%= @activity.message %>
      <br>
      <small class="text-muted">
        <%= distance_of_time_in_words_to_now(@activity.inserted_at) %> ago
      </small>
    </p>
  </div>
</div>
