<h3>You've been invited to join team <%= @team.name %>!</h3>

<p>
  You can accept or reject the invitation by
  <%= link "clicking on this invitation URL", to: invitation_url(@team_access) %>.
</p>

<p>Cheers,</p>

<p>Serge</p>
