@import "bootstrap";
@import "font-awesome";

.fa.empty {
  width: 16px;
}

.py-1-5 {
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}

.task-control {
  width: 100px;
  text-align: right;
}

.text-ghost {
  &, &:hover {
    color: #999;
  }
}

sup {
  vertical-align: super;
}

sup.badge-completed {
  font-size: 8px;
}
